<p>Estimado usuario {{user.nombre}}</p>
<p>
  Se ha dado de alta en el sistema de {{config['SYSTEM_NAME']}}<br />
  con el nombre de usuario <strong>{{user.login}}</strong><br />
  Para establecer su clave de acceso haga
  <a href="{{ url }}"> clic aquí </a>.
</p>
<p>
  Alternativamente, puede pegar el siguiente enlace en la barra de direcciones
  de su navegador:
</p>
<p>{{ url }}</p>
<p>Si no ha solicitado un alta de usuario, simplemente ignore este mensaje.</p>
<p>Atentamente</p>
<p>{{config['SYSTEM_NAME']}} - Equipo de Soporte</p>
